@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

$firstBgColor: #111423;
$secondBgColor: #1b1e31;
$firstTextColor: aliceblue;
$hoverTextColor: #6d6dc4;
$fontFam: 'Montserrat', sans-serif;

.main {
    background-color: $firstBgColor;
}

.header {
    box-sizing: border-box;
    background-color: $secondBgColor;
    padding: 20px 0px 20px 20px;
    padding-bottom: 10px;
    display: flex;
    img {
        width: 250px;
        height: 15px;
        margin-top: 10px;
    }
    .icon-bars {
        display: none;
    }
}

.nav__links {
    list-style: none;
    padding: 5px;
    font-family: $fontFam;
    font-weight: 700;
    overflow: hidden;
    li {
        display: inline-block;
        margin: 0px 20px;
        .nav__item {
            text-decoration: none;
            transition: all 0.3s ease 0s;
            &:hover {
                color: #0088a9;
            }
        } 
    }
}

//responsive navbar
@media screen and (max-width: 640px) {
    .header {
        display: block;
        .icon-bars {
            margin: 30px 20px 0px 0px;
            float: right;
            display: block;
            cursor: pointer;
        }
    }
    .nav__links {
        li {
            display: block;
            .nav__item {
                display: none;
            }
            
        }
    }

    //when the icon bars is clicked
    .nav__links.responsive {
        position: relative;
        li {
            .nav__item {
                float: none;
                display: block ;
                text-align: left;
                margin-top: 10px;
            }
        }
    }
    
    .icon-bars {
        position: absolute;
        right: 0;
        top: 0;
    }
}

.title-page {
    color: $firstTextColor;
    font-family: 'Montserrat', sans-serif;
    padding-top: 26px;
}


#content {
    margin-left: 3;
    padding-bottom: 50px;
    border: 10;
}

.cut-text { 
    text-overflow: ellipsis;
    overflow: hidden; 
    width: 100%; 
    height: 100px; 
    // white-space: nowrap;
}

.card-list {
    margin-top:  ($spacer * 3) !important;
    width: 18rem;
    color: $secondBgColor;
    span {
        opacity: 50%;
    }
    .movie-info {
        display: inline-flex;
        margin-left: 1px;
    }
}

.detail-movie {
    margin-top: 20px;
    img {
        width: 300px;
        height: 300px;
        float: left;
        margin-right: 10px;
    }
    .header {
        color: $firstTextColor;
        float: left;
    }
}

.overflow-table {
    overflow-x:auto
}

.people-content {
    font-family: $fontFam;
    color: $firstTextColor;
    tbody tr:hover {
        color: $hoverTextColor
    }
}

.about {
    @extend .title-page;
    img {
        float: left;
        height: 300px;
        width: 300px;
        margin: 0px 20px 20px 0px;
    }
}

.footer {
    box-sizing: border-box;
    padding-top: 20px;
    background-color: $secondBgColor;
    color: $firstTextColor;
    font-family: $fontFam;
    display: flex;
    justify-content: center;
}

